body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.map {
    width: auto;
    height: auto;
    margin-top:5px;
}

.map-cell {
    padding-left: 5px;
    padding-right: 5px;
}

.table-cell {
    padding-left: 5px;
    padding-right: 5px;
}

.map-container {
    background-color: azure;
    border: 1px solid black;
    padding: 1px;
}
.map-tools {
    background-color: bisque;
    margin: 5px;
    padding:1px;
    border: 1px solid black;
}
.enquiry-options-container {
    background-color: azure;
    border: 1px solid black;
    padding:1px;
}
.enquiry-options {
    background-color: bisque;
    margin: 5px;
    padding: 1px;
    border: 1px solid black;
}
.row{
    margin-left:5px;
    margin-right:5px;
}



