@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Enquiry Request</h1>
    <p class="lead">Request data searches and manage billing</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Enquiries</h2>
        <p>
            links to enquiries
        </p>
        <p>
            <ul>
                <li>@Html.ActionLink("Enquiries", "Index", "Enquiries")</li>
                <li>@Html.ActionLink("New Enquiry", "Create", "Enquiries")</li>
            </ul>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Invoices</h2>
        <p>
            links to invoices
        </p>
        <p>
            <ul>
                <li>@Html.ActionLink("Invoices", "Index", "Invoices")</li>
                <li>@Html.ActionLink("New Invoice", "Create", "Invoices")</li>
            </ul>
        </p>
    </div>
    @*<div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>*@
</div>